body {
	background-color: #E7E0DF;
	margin: 0;
}

.coluna1 {
	background-image: url(�mg/background_coluna1.png);
	height: 100%;
	width: 18.667% !important;
}

.container_menu {
	background-color: #E7E0DF;
	border-bottom: #B9A39E 2px solid;
}

.nome_restaurante {
	background-color: #EDE7E6;
	font-family: Arial Black;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #513E39;
	border-top: #B9A39E 2px solid;
	border-bottom: #DDD2D0 2px solid;
}

.nome_restaurante label {
	margin-left: 28px;
}

.nome_restaurante img {
	float: left;
	margin-left: 7px;
	margin-top: -5px;
}

.nome_menu {
	background-color: #E7E0DF;
	font-family: Arial Black;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #513E39;
	border-top: #F1EDED 2px solid;
}

.nome_menu label {
	margin-left: 10px;
}

.nome_menu img {
	float: right;
	margin-left: 7px;
	margin-top: 3px;
}

.nome_menu_detalhe {
	background-color: #B9A39E;
	padding-top: 5px;
	padding-bottom: 5px;
}

.itens_menu {
	background-color: #E7E0DF;
	font-family: Arial Black;
	font-size: 13px;
	color: #513E39;
	border-top: #C6B4B0 1px solid;
	border-bottom: #DDD2D0 2px solid;
	padding-bottom: 10px;
}

.itens_menu ul {
	padding: 0;
	margin: 0;
	padding-left: 10px;
}

.itens_menu .menuItem {
	display: inline-block;
	font-family: arial;
	padding: 5px;
	color: #AA8D88;
	background-color: #DDD2D0;
	border-right: #C6B4B0 1px solid;
	border-bottom: #C6B4B0 1px solid;
	border-left: #C6B4B0 1px solid;
	margin: 0;
	margin-left: -6px;
	font-size: 12px;
}

.itens_menu .active {
	display: inline-block;
	font-family: arial;
	padding: 5px;
	background-color: #E7E0DF;
	color: #513E39;
	border-bottom: 1px solid #E6E0DF;
}

.itens_menu a {
	font-family: arial;
	padding: 10px;
	padding-left: 30px;
	display: block;
	font-size: 17px;
	padding-bottom: 0px;
}

.itens_menu a:hover {
	color: #8D726B;
	text-decoration: underline;
}

.itens_menu a:visited {
	color: #664F4A;
	text-decoration: underline;
}

.itens_menu a:link {
	color: #664F4A;
	text-decoration: none;
}

.menu {
	background-color: #DDD2D0;
}

.coluna2 {
	background-color: #FEFFFF;
	border-left: #B9A39E 2px solid;
	border-top: #B9A39E 1px solid;
	border-right: #B9A39E 2px solid;
	height: 650px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: -1px 2px 6px 1px #C5B3B0;
	-webkit-box-shadow: -1px 2px 6px 1px #C5B3B0;
	box-shadow: -1px 2px 6px 1px #C5B3B0;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.coluna2 h1 {
	font-family: arial;
	color: #333;
	margin: 10px;
	margin-left: 30px;
	text-align: left;
}

.coluna2 .container_coluna2 {
	background-color: #F4F0EF;
	border-top: #B9A39E 1px solid;
	height: 91%;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow-y: scroll;
}

.coluna2 .container_coluna2 .container {
	background-color: #FFFFFF;
	border-left: #B9A39E 1px solid;
	margin-left: 30px;
	margin-right: 0px;
}

.coluna2 .container_coluna2 .container_ordem_pedidos {
	background-color: #FFFFFF;
	border-left: #B9A39E 1px solid;
	margin-left: 30px;
	margin-right: 15px;
}

.coluna1 {
	background-image: url(�mg/background_coluna1.png);
	height: 100%;
	width: 18.667% !important;
}

.container_menu {
	background-color: #E7E0DF;
	border-bottom: #B9A39E 2px solid;
}

.nome_restaurante {
	background-color: #EDE7E6;
	font-family: Arial Black;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #513E39;
	border-top: #B9A39E 2px solid;
	border-bottom: #DDD2D0 2px solid;
}

.nome_restaurante label {
	margin-left: 28px;
}

.nome_restaurante img {
	float: left;
	margin-left: 7px;
	margin-top: -5px;
}

.nome_menu {
	background-color: #E7E0DF;
	font-family: Arial Black;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #513E39;
	border-top: #F1EDED 2px solid;
}

.nome_menu label {
	margin-left: 10px;
}

.nome_menu img {
	float: right;
	margin-left: 7px;
	margin-top: 3px;
}

.nome_menu_detalhe {
	background-color: #B9A39E;
	padding-top: 5px;
	padding-bottom: 5px;
}

.itens_menu {
	background-color: #E7E0DF;
	font-family: Arial Black;
	font-size: 13px;
	color: #513E39;
	border-top: #C6B4B0 1px solid;
	border-bottom: #DDD2D0 2px solid;
	padding-bottom: 10px;
}

.itens_menu ul {
	padding: 0;
	margin: 0;
	padding-left: 10px;
}

.itens_menu .menuItem {
	display: inline-block;
	font-family: arial;
	padding: 5px;
	color: #AA8D88;
	background-color: #DDD2D0;
	border-right: #C6B4B0 1px solid;
	border-bottom: #C6B4B0 1px solid;
	border-left: #C6B4B0 1px solid;
	margin: 0;
	margin-left: -6px;
	font-size: 12px;
}

.itens_menu .active {
	display: inline-block;
	font-family: arial;
	padding: 5px;
	background-color: #E7E0DF;
	color: #513E39;
	border-bottom: 1px solid #E6E0DF;
}

.itens_menu a {
	font-family: arial;
	padding: 10px;
	padding-left: 30px;
	display: block;
	font-size: 17px;
	padding-bottom: 0px;
}

.itens_menu a:hover {
	color: #8D726B;
	text-decoration: underline;
}

.itens_menu a:visited {
	color: #664F4A;
	text-decoration: underline;
}

.itens_menu a:link {
	color: #664F4A;
	text-decoration: none;
}

.menu {
	background-color: #DDD2D0;
}

.coluna2 {
	background-color: #FEFFFF;
	border-left: #B9A39E 2px solid;
	border-top: #B9A39E 1px solid;
	border-right: #B9A39E 2px solid;
	height: 650px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: -1px 2px 6px 1px #C5B3B0;
	-webkit-box-shadow: -1px 2px 6px 1px #C5B3B0;
	box-shadow: -1px 2px 6px 1px #C5B3B0;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.coluna2 h1 {
	font-family: arial;
	color: #333;
	margin: 10px;
	margin-left: 30px;
	text-align: left;
}

.coluna2 .container_coluna2 {
	background-color: #F4F0EF;
	border-top: #B9A39E 1px solid;
	height: 91%;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow-y: scroll;
}

.coluna2 .container_coluna2 .container {
	background-color: #FFFFFF;
	border-left: #B9A39E 1px solid;
	margin-left: 30px;
	margin-right: 0px;
	height: 95%;
}

.coluna2 .container_coluna2 .container_ordem_pedidos {
	background-color: #FFFFFF;
	border-left: #B9A39E 1px solid;
	margin-left: 30px;
	margin-right: 15px;
}

.coluna2_barra {
	background-image: url(img/background_barra.png);
	height: 27px;
}

.coluna2_barra button {
	border: none;
	background-color: #F4F0EF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px #D3C6C3 solid;
	font-weight: bold;
	color: #846660;
	-moz-box-shadow: -1px 1px 3px 0.5px #C5B3B0;
	-webkit-box-shadow: -1px 1px 3px 0.5px #C5B3B0;
	box-shadow: -1px 1px 3px 0.5px #C5B3B0;
	margin-left: 10px;
}

.coluna2_barra button:hover {
	background-color: #93716B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px #765B55 solid;
	font-weight: bold;
	color: #FEFFFF;
	-moz-box-shadow: -1px 1px 3px 0.5px #C5B3B0;
	-webkit-box-shadow: -1px 1px 3px 0.5px #C5B3B0;
	box-shadow: -1px 1px 3px 0.5px #C5B3B0;
}

.coluna2_barra button:active {
	background-color: #93716B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px #765B55 solid;
	font-weight: bold;
	color: #FEFFFF;
	-moz-box-shadow: 0px 1px 3px 0.5px #C5B3B0;
	-webkit-box-shadow: 0px 1px 3px 0.5px #C5B3B0;
	box-shadow: 0px 1px 3px 0.5px #C5B3B0;
}

.coluna3 {
	background-color: #F4F0EF;
	border-left: #E8E1DF 2px solid;
	border-top: #B9A39E 1px solid;
	border-right: #B9A39E 2px solid;
	height: 650px;
	width: 31.667% !important;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.coluna3 h1 {
	font-family: arial;
	color: #333;
	margin: 10px;
	margin-left: 30px;
	text-align: left;
}

.coluna3 .container_coluna3 {
	background-color: #FFFFFF;
	border-top: #B9A39E 1px solid;
	height: 93%;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.coluna3 .container_barra {
	height: 40px;
	font-size: 30px;
	font-family: arial;
	color: #876761;
	text-align: right;
	margin-right: 10px;
}

.lista {
	
}

.lista .visualizada {
	background-color: #F4F0E0;
}

.lista small {
	margin-left: -25px;
	padding-bottom: 0px;
	padding-top: 7px;;
	display: inline-block;
	cursor: pointer;
}

.lista small:hover {
	background-image: url(img/background_lista.png);
	color: #F4F0EF;
}

.lista .lista_texto {
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	cursor: pointer;
	width: 200px;
}

.lista .lista_nome_cliente {
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	cursor: pointer;
	width: 150px;
}

.lista .lista_preco {
	float: right;
	margin-left: 60px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	cursor: pointer;
}

.lista .lista_rua {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	cursor: pointer;
	width: 190px;
}

.lista .lista_timestamp {
	float: right;
	margin-left: 60px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
	cursor: pointer;
}

.listaItems {
	border-bottom: 1px solid #E9E2E0;
}

.listaItems:hover {
	border-bottom: 1px solid #C8B6B0;
}

.listaItems:active {
	background-color: #D8CBC7;
}

.click {
	background-color: #D8CBC7;
}

.listaItems input {
	border: none;
}

.lista_preco input {
	width: 45px;
}

.listaCategoria {
	margin-left: -31px;
	display: inline-block;
	background-color: #F4F0EF;
	border-top: 1px solid #C8B6B0;
	border-bottom: 1px solid #C8B6B0;
	border-right: 1px solid #C8B6B0;
	margin-top: 13px;
	color: #876761;
	cursor: pointer;
}

.listaCategoria .lista_texto {
	display: inline-block;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 15px;
}

.listaCategoria .lista_bairro {
	display: inline-block;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 15px;
	cursor: default;
}

.listaCategoria:hover {
	border-bottom: 1px solid #C8B6B0;
}

.listaCategoria:active {
	background-color: #D8CBC7;
}

.container {
	margin-right: 30px;
}

.container_barra img {
	margin-right: 89%;
	margin-top: 8px;
}

.container .imagem {
	width: 139px;
	height: 62px;
	border: #CFBFBB 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #FBF9F9;
	color: #B89F99;
	text-align: center;
	padding-top: 40px;
	border-image: initial;
	margin-left: 30px;
	margin-top: 30px;
}

.container .imagem:hover {
	background-color: #F5F1F1;
	color: #B89F99;
}

.container hr {
	border-color: #B89F99;
}

.container h3 {
	font-family: arial;
	margin-top: 10px;
}

.container h3 label input {
	font-family: arial;
	font-size: 25px;
	margin-bottom: -13px;
}

.container label {
	font-size: 15px;
	color: #B8A19C;
	display: block;
	margin-left: 30px;
}

.container label input {
	display: block;
	width: 100%;
	border: none;
	font-size: 20px;
	color: black;
}

.container label input:focus {
	font-size: 13px;
	color: #B8A19C;
	display: block;
	width: 100%;
	font-size: 20px;
	color: black;
}

.container label select {
	font-size: 13px;
	color: #B8A19C;
	display: block;
	width: 100%;
	border: none;
	font-size: 20px;
	color: black;
}

.container label textarea {
	font-size: 20px;
	color: black;
	color: #B8A19C;
	border: 1px #CFBEBA solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	width: 100%;
	border: none;
	color: black;
	font-family: arial;
}

.check input {
	display: inline !important;
	width: 15px !important;
}

.container {
	margin-right: 30px;
}

.container_barra img {
	margin-right: 89%;
	margin-top: 8px;
	opacity: 0.4;
	filter: alpha(opacity =   40);
}

.active {
	margin-right: 89%;
	margin-top: 8px;
	-moz-box-shadow: 0px 1px 3px 0.5px #C5B3B0;
	-webkit-box-shadow: 0px 1px 3px 0.5px #C5B3B0;
	box-shadow: 0px 1px 3px 0.5px #C5B3B0;
	opacity: 1 !important;
	filter: alpha(opacity =   100) !important;
	cursor: pointer;
}

.container .imagem {
	width: 139px;
	height: 62px;
	border: #CFBFBB 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #FBF9F9;
	color: #B89F99;
	text-align: center;
	padding-top: 40px;
	border-image: initial;
	margin-left: 30px;
	margin-top: 30px;
}

.container .imagem:hover {
	background-color: #F5F1F1;
	color: #B89F99;
}

.container hr {
	border-color: #B89F99;
}

.container h3 {
	font-family: arial;
	margin-top: 10px;
}

.container h3 label input {
	font-family: arial;
	font-size: 25px;
	margin-bottom: -13px;
}

.container label {
	font-size: 15px;
	color: #B8A19C;
	display: block;
	margin-left: 30px;
}

.container label input {
	display: block;
	width: 100%;
	border: none;
	font-size: 20px;
	color: black;
}

.container label input:focus {
	font-size: 13px;
	color: #B8A19C;
	display: block;
	width: 100%;
	font-size: 20px;
	color: black;
}

.container label select {
	font-size: 13px;
	color: #B8A19C;
	display: block;
	width: 100%;
	border: none;
	font-size: 20px;
	color: black;
}

.container label textarea {
	font-size: 20px;
	color: black;
	color: #B8A19C;
	border: 1px #CFBEBA solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	width: 100%;
	border: none;
	color: black;
	font-family: arial;
}

.check input {
	display: inline !important;
	width: 15px !important;
}